* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px; /* Base font size */
  line-height: 1.6;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

html {
  margin: 0;
  width: auto;
  display: block;
}

.logo {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: auto;
  max-width: 100%;
  z-index: 1; /* Set a lower z-index to keep it behind the text */
}

.logo-link-remove {
  display: block;
  margin-bottom: 0.005px;
  text-decoration: none;
  color: black;
}

/* Example of flexible text positioning */
.fixed-text {
  position: fixed;
  z-index: 2; /* Ensure the text is above the logo */
  right: 150px; /* Adjust positioning from the right edge */
  top: 5%; /* Adjust positioning as needed */
  font-family: "Space Mono", monospace;
  font-size: 2vw; /* Adjust font size using viewport units */
  text-align: right;
  backdrop-filter: blur(10px); /* Apply frosted background effect */
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Adjust background color and opacity */
  padding: 25px; /* Add padding for better visibility */
}

/* Example of responsive text */
.fixed-text-two {
  z-index: 2; /* Ensure the text is above the logo */
  text-align: right;
  right: 150px; /* Adjust positioning from the right edge */
  bottom: 30px; /* Adjust positioning from the bottom */
  position: fixed;
  font-family: "Space Mono", monospace;
  font-size: 1.5vw; /* Adjust font size using viewport units */
  backdrop-filter: blur(10px); /* Apply frosted background effect */
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Adjust background color and opacity */
  padding: 10px; /* Add padding for better visibility */
}

.fixed-text-two p {
  font-size: 1vw; /* Adjust font size using viewport units */
  font-style: italic;
  margin: 0.1vw 0; /* Adjust margins using viewport units */
}

.fixed-text-two p:first-child {
  font-style: normal;
  font-size: 1.8vw; /* Adjust font size using viewport units */
  margin-top: 0;
}

.fixed-text-two span {
  font-family: "Space Mono", monospace;
  font-size: 0.8vw; /* Adjust font size using viewport units */
  font-style: italic;
}

.others-link {
  text-decoration: none;
  color: red;
}
