body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  width: auto;
  display: block;
}

.logo {
  height: 100vh;
  width: auto;
  display: block;
  position: absolute;
  bottom: 0;
}

.logo-link-remove {
  display: block;
  margin-bottom: 0.005px;
  text-decoration: none;
  color: black;
}

.fixed-text {
  position: fixed;
  left: 1000px;
  top: 115px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  text-align: right;
}

.fixed-text-two {
  text-align: right;
  left: 940px;
  top: 400px;
  position: fixed;
  font-family: "Space Mono", monospace;
}

.fixed-text-two p {
  font-size: 14px;
  font-style: italic;
  margin: 0.0005px 0;
}

.fixed-text-two p:first-child {
  font-style: normal;
  font-size: 22px;
  margin-top: 0;
}

.fixed-text-two span {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  font-style: italic;
}

.others-link {
  text-decoration: none;
  color: red;
}
