.back-home-btn,
.back-to-top-btn,
.info-btn {
  font-family: "Space Mono", monospace; /* Applying Space Mono to the buttons */
  font-size: 10px;
  position: fixed;
  min-width: 50px;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.05); /* Frosted background */
  backdrop-filter: blur(10px); /* Apply frosted background effect */
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: opacity 0.5s ease;
  cursor: crosshair;
  z-index: 998;
}

.back-home-btn {
  right: 25px;
  top: 20px;
}

.back-to-top-btn {
  right: calc(125px + 120px);
  display: none;
  top: 20px;
}

.info-btn {
  right: calc(20px + 120px);
  top: 20px;
}

.back-to-top-btn:hover,
.back-home-btn:hover,
.info-btn:hover {
  background-color: rgba(255, 0, 0, 0.5); /* Adjust opacity on hover */
  color: white;
  backdrop-filter: blur(10px);
  font-style: italic;
}

.modal-overlay3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  outline: 2px solid red;
  position: relative;
  min-width: 300px;
  max-width: 1500px;
}

.modal-content {
  font-family: "Jost", sans-serif;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: crosshair;
  font-size: 20px;
}

body {
  overflow: hidden; /* Hide vertical scrollbar */
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #101010;
  color: white;
}

.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#page-1 .content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

#page-2 {
  left: 100%; /* Push page 2 to the right */
}

.title {
  font-family: "EB Garamond", serif;
  font-size: 75pt;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 25pt;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}

#page-2 .content {
  margin-right: 50px;
  width: 1000px;
  margin: 0 auto;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page-2 .content p {
  font-size: 36px;
}

#page-3 {
  left: 200%; /* Push page 3 to the right */
}

#page-3 .content,
#page-6 .content,
#page-13 .content {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
  color: white;
}

#page-3 .title,
#page-6 .title,
#page-13 .title {
  font-family: "PT Sans", sans-serif;
  font-size: 32pt;
  font-weight: normal;
  text-align: left;
  margin-top: 0;
}

#page-3 .subtitle,
#page-6 .subtitle,
#page-13 .subtitle {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 18pt;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
}

#page-4 {
  left: 300%;
}

#page-5 {
  left: 400%;
}

#page-4 .content,
#page-5 .content,
#page-7 .content,
#page-8 .content,
#page-9 .content,
#page-10 .content,
#page-11 .content,
#page-12 .content,
#page-14 .content,
#page-15 .content,
#page-16 .content,
#page-17 .content,
#page-18 .content,
#page-19 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-4 img,
#page-5 img,
#page-7 img,
#page-8 img,
#page-9 img,
#page-10 img,
#page-11 img,
#page-12 img,
#page-14 img,
#page-15 img,
#page-16 img,
#page-17 img,
#page-18 img,
#page-19 img {
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
}

#page-6 {
  left: 500%;
}

#page-7 {
  left: 600%;
}

#page-8 {
  left: 700%;
}

#page-9 {
  left: 800%;
}

#page-10 {
  left: 900%;
}

#page-11 {
  left: 1000%;
}

#page-12 {
  left: 1100%;
}

#page-13 {
  left: 1200%;
}

#page-14 {
  left: 1300%;
}

#page-15 {
  left: 1400%;
}

#page-16 {
  left: 1500%;
}

#page-17 {
  left: 1600%;
}

#page-18 {
  left: 1700%;
}

#page-19 {
  left: 1800%;
}
