body {
  background-color: #101010; /* Setting the background color of the entire body */
  color: white; /* Changing the text color to white for better readability */
  font-family: "Jost", sans-serif; /* Applying a different font to the rest of the document */
  margin: 0; /* Resetting default margin */
  padding: 0; /* Resetting default padding */
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.back-to-top-btn,
.back-home-btn {
  font-family: "Space Mono", monospace; /* Applying Space Mono to the buttons */
  font-size: 10px;
  position: fixed;
  top: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.05); /* Frosted background */
  backdrop-filter: blur(10px); /* Apply frosted background effect */
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: opacity 0.5s ease;
}

.back-home-btn {
  right: 25px;
}

.back-to-top-btn {
  right: calc(20px + 120px); /* Space for back-to-home button */
  display: none;
}

.back-to-top-btn:hover,
.back-home-btn:hover {
  background-color: rgba(255, 0, 0, 0.15); /* Adjust opacity on hover */
  color: white;
  backdrop-filter: blur(10px); /* Apply frosted background effect */
}

.nav-btn {
  display: flex;
  left: 1%;

  position: fixed;
  width: 100%;
  z-index: 999; /* Ensure buttons appear above other content */
  max-width: 300px; /* Adjust the max-width as needed */
}

.prev-btn,
.next-btn {
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  min-width: 70px;
  max-width: 70px;
  font-family: "Space Mono", monospace;
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  text-decoration: none;
  font-size: 24px;
  animation: glowing 1.5s infinite; /* Apply the glowing animation */
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px 0 rgba(255, 0, 0, 1);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 1);
  }
  100% {
    box-shadow: 0 0 5px 0 rgba(255, 0, 0, 1);
  }
}

.prev-btn {
  top: 0;
}

.next-btn {
  bottom: 0;
}

#section0 {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000050;
  transition: background-color 1s;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  transition: background-color 1s;
}

.sec0-contain {
  position: absolute;
  top: 60%; /* Position text container in the center */
  transform: translateY(-50%);
  font-family: "EB Garamond", serif;
  text-align: center;
}

.sec0-contain p {
  transition: opacity 1s ease; /* Transition effect for opacity */
}

#section1 {
  height: 100vh;
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sec1-contain {
  color: black;
  font-family: "Space Mono", monospace;
  font-size: 12pt;
  margin-left: 45%;
  width: 33%;
  max-height: 50%;
  overflow: auto; /* Added overflow to enable scrolling if content exceeds */
}

.sec1-contain span {
  color: red;
}

#section1 img {
  max-width: 50%;
  max-height: 50%;
  margin: 0 auto; /* Center the image horizontally */
  padding: 0;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

#section1 p {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 22px;
  position: absolute;
  top: 20%;
  left: 20%;
  color: black;
}
