.bottom-text {
  text-align: left;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-font-size: 16px;
  --base-line-height: 1.6;
  --side-margin: 5vw;
  --menu-font-size: clamp(2rem, 2vw, 1.5rem);
  --bio-width: clamp(300px, 50%, 700px);
  --bio-font-size: clamp(1rem, 1.15rem, 1.3rem);
  --info-font-size: clamp(0.8rem, 1vw, 1.2rem);
  --padding-standard: clamp(10px, 2vw, 25px);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: var(--base-line-height);
}

html {
  margin: 0;
  width: auto;
  display: block;
}

.logo-link-remove {
  display: block;
  margin-bottom: 0.005px;
  text-decoration: none;
  color: #333;
}

.fixed-text {
  position: fixed;
  right: var(--side-margin);
  top: 5%;
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--menu-font-size);
  text-align: right;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: var(--padding-standard);
}

.fixed-text a:hover {
  color: red;
}

.fixed-text-two {
  text-align: right;
  right: var(--side-margin);
  bottom: 30px;
  position: fixed;
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--info-font-size);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.fixed-text-two p {
  font-size: calc(var(--info-font-size) * 0.9);
  font-style: italic;
  margin: 0.1vw 0;
}

.fixed-text-two p:first-child {
  font-style: normal;
  font-size: calc(var(--info-font-size) * 1.5);
  margin-top: 0;
}

.fixed-text-two span {
  font-family: "IBM Plex Mono", monospace;
  font-size: calc(var(--info-font-size) * 0.8);
  font-style: italic;
}

.others-link {
  text-decoration: none;
  color: red;
}

.bio-text {
  width: var(--bio-width);
  position: fixed;
  left: var(--side-margin);
  top: 50%;
  transform: translateY(-50%);
  padding: calc(var(--padding-standard) * 0.8);
  font-size: var(--bio-font-size);
  line-height: 1.5;
  max-height: 80vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  :root {
    --side-margin: 20px;
  }

  .bio-text {
    width: calc(100% - (var(--side-margin) * 2));
    top: 20%;
    transform: none;
    max-height: 40vh;
  }

  .fixed-text {
    top: 65%;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
  }

  .fixed-text-two {
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
  }
}
