.main {
  color: #ff000c;
  font-family: "Space Mono", monospace; /* Applying Space Mono to the buttons */
  margin-right: 50%;
  margin-left: 25%;
  margin-top: 15%;
}

.main a {
  text-decoration: none;
  color: #ff000c;
}
