.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: var(--clr-accent);
  mix-blend-mode: exclusion;
}

.ripple {
  position: fixed;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  z-index: 9998;
  animation: rippleAnim 0.9s ease-out forwards;
  background: transparent;
  backdrop-filter: blur(32px) contrast(48) brightness(2) saturate(3);
  -webkit-backdrop-filter: blur(32px) contrast(48) brightness(2) saturate(3);
}

@keyframes rippleAnim {
  to {
    transform: translate(-50%, -50%) scale(7);
    opacity: 0;
  }
}
